.App {
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.order-table{
  width: 80%;
  border-collapse: collapse;
  margin: 15px auto;
  /* min-height: 230px; */
}

.order-table td{
  border: solid 1px #000;
  border-spacing: 0;
  margin: 0;
  padding: 0;
}

.order-actions{
  text-align: left;
  margin: 15px;
}

.order-form{
  width: 80%;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
}

.order-form > div{
  flex: 1;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.order-form > div > input,
.order-form > div > textarea{
  flex: 1;
}

.order-form > div > label{
  width: 150px;
  text-align: right;
  margin-right: 15px;
}

.order-form-actions {
  text-align: right;
  width: 80%;
}

.order-form-actions > button{
  margin-right: 15px;
}